*{
    margin:0;
    padding:0%;
  
   

}
header{
    width:100%;
    padding-top:10px;
    background-color: #1d1d1f;
    height:80px;
    display: block;
    left: 0px;
    top: 0px;
    z-index: 0;
    border-bottom:white solid 5px;
    position:fixed;
    z-index:1; 
    
}
.name{
    float:left;
    padding-top:20px;
    font-style: italic;
}
.first{padding-top:10px;
    padding-left: 50px;
    padding-bottom:20px;
    font-family: Geneva,Tahoma,Verdana,sans-serif; 
    font-size:35px;
    color:rgb(248,248,255);
}

.last{
    margin-top: 15px;
    padding-bottom:20px; padding-left: 5px;
    font-family: Geneva,Tahoma,Verdana,sans-serif; 
    font-size:35px;
    color:#F8F8FF;

}

.navigation{
    float: right;
    display:table;
    height:100%;
    font-size: large;
    font-variant: small-caps;
   
    margin:0 auto;
    font-family: Geneva,Tahoma,Verdana,sans-serif; 
   padding: 0px 20px 0px 0px;
   list-style-type: none;
    color:#F8F8FF;
}

.navigation a{
    float:right;
    display:table-cell;
    align-items: center;
    padding-left:10px;
    padding-top:30px;
    justify-content: center;
}

body {
    background-color: #193c6d;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#003073', endColorstr='#029797');
    background-image: url(//img.alicdn.com/tps/TB1d.u8MXXXXXXuXFXXXXXXXXXX-1900-790.jpg);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #003073), color-stop(100%, #029797));
    background-image: -webkit-linear-gradient(135deg, #003073, #029797);
    background-image: -moz-linear-gradient(45deg, #003073, #029797);
    background-image: -ms-linear-gradient(45deg, #003073 0, #029797 100%);
    background-image: -o-linear-gradient(45deg, #003073, #029797);
    background-image: linear-gradient(135deg, #003073, #029797);
    position:relative;
    z-index:2;

}

main{
    height:100px;
    
}    

.welcome{
    color:white;
    padding-top:80px;
    font-size: 65px;
    margin-left:30px;
    margin-right:30px;
    margin-top:50px;
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bol,sans serif; 
   
}

.sec{
    border-bottom:#029797 solid 5px;
   width:100%;
 margin-top:10px;
}

div.about{
    color:white;
    font-size:35px;
    
    
    
    }
.intro{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style-type: disc;
    display: list-item;
    padding-left:30px;
}

    h3.about{
        font-size:40px;
        color:grey;
        padding-left:20px;
    }

    .sec1{
        border-bottom:#029797 solid 5px;
       width:100%;
     margin-top:10px;
    }

    .skills{
        font-size:40px;
        color:grey;
        padding-left:20px;
    }

   .images{
      justify-content: center;
   }

   a:link{
       color:white;
       text-decoration: none;
   }

   a:hover{
       color:grey;
       
   }

  a:visited{
       color: grey;
       text-decoration: none;
   }

   a:active{
       color:grey;
       text-decoration: none;
   }

   /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;}
    
.sec3{
    border-bottom:#029797 solid 5px;
   width:100%;
 margin-top:10px;
}

.net h3{
    color:grey;
    font-size:40px;
    text-align:left;
    

}

.net{
    padding-left:20px;
    text-align: center;
   

}
  
.git{
    font-size: 80px;
    color:white;
    background-color: transparent;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); 
    padding: 12px 16px;
}

.insta{
    font-size: 80px;
    color:rgb(226, 39, 226);
    padding: 12px 16px;
    display: inline-block;
    background-color: transparent;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); 


}

.fb{
    font-size:80px;
     color:rgb(0, 110, 255);
     padding: 12px 16px;
     background-color: transparent;
     box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); 
}

.gg{
    font-size:80px;
    color:rgb(18, 252, 18);
    background-color: transparent;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); 
    padding: 12px 16px;
}

.git:hover{
    color:grey;
}

.fb:hover{
    color:lightblue;
}

.gg:hover{
    color:lightgreen;
}

.insta:hover{
    color:plum;
}

.insta:active {
    background-color: #1d1d1f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .fb:active{
    background-color: #1d1d1f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .gg:active{
    background-color:#1d1d1f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.git:active{
    background-color: #1d1d1f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.